/* BACKGROUND */

body {
	background-image: url('../images5/background.jpg');
	background-size: 100%;
	font-family: 'Bungee Inline', cursive;
    font-size: 25px;
    color: green;
}

title, #title {
	font-family: 'Bungee', cursive;
	font-size: 60px;
	color: red;
}

h1 {
	font-family: 'Bungee Inline', cursive;
    font-size: 10px;
    color: white;
    margin-top: 2%;
}

/* DIV */

#title {
	margin-bottom: 10%;
	margin-top: 10%;
}

#container2 {

}

#questionDiv {
	margin: 5% auto;
	width: 100%;
}

/* TIME REMAINING */

#timerDiv {
	margin-bottom: 10%;
	margin-top: 10%;
	width: 30%;
	font-size: 25px;
	color: yellow;
}

/* ANSWERS */

.choice {
	color: white;
	cursor: pointer; 
}

.choice img {
	max-width: 40%;
	max-height: 40%;
}

/* START */

#startButton {
	background-color: green;
	color: white;
	border-color: white;
	margin-top: 20%;
}