/* BACKGROUND */

body {
	background-image: url('../images5/background.jpg');
	background-size: 100%;
	font-family: 'Bungee Inline', cursive;
    font-size: 25px;
    color: red;
}

title, #title {
	font-family: 'Bungee', cursive;
	font-size: 60px;
	color: green;
}

/* DIV */

#title {
	margin-bottom: 10%;
	margin-top: 10%;
}

#questionDiv {
	margin: 1% auto;
	width: 100%;
}

/* TIME REMAINING */

#timerDiv {
	/*margin-left: 10px;*/
	margin-bottom: 10%;
	margin-top: 10%;
	width: 30%;
	font-size: 25px;
	color: yellow;
}

/* ANSWERS */

.choice {
	/*background-color: yellow;*/
	color: white;
	cursor: pointer; 
}

.choice img {
	max-width: 40%;
	max-height: 40%;
}

.background {
	/*background-color: yellow;*/
	color: white;
}

/* START */

#startButton {
	background-color: red;
	color: white;
	border-color: white;
	margin-top: 20%;
}